body { padding: 0; margin: 0; }

#container {
  width: 800px;
  overflow: auto;
  margin: 0;
  padding: 15px;
}

#container header,
#container #content,
#container footer {
}

/* Large desktop */
@media (min-width: 1200px) {
  #container {
    margin: 0 auto;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #container {
    width: 630px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #container {
    width: auto;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {  }

p {
  line-height: 1.5;
}

.footnotes p { display: inline; }
li:target {
  background-color: #BFEFFF;
}
